<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="apple-touch-icon" href="/images/miffy.png" />
</head>

<body class="login-page-layout">
	<header class="loginheader">
	</header>

	<div class="login-container">
		<h1>おでかけ記録
			<img src="/images/miffy.png" alt="ミッフィー"
				style="height: 50px; vertical-align: middle; margin-left: 5px; margin-top: -16px;">
		</h1>
		<h2>ログイン</h2>
		<div th:if="${errorMessage}" class="error-message">
			<p th:text="${errorMessage}"></p>
		</div>

		<form th:action="@{/top}" method="post" th:object="${login}">

			<label for="username">ユーザー名:</label>
			<input type="text" id="username" name="username" th:value="${username}" />

			<label for="password">パスワード:</label>
			<input type="password" id="password" name="password">

			<button type="submit">ログイン</button>
		</form>
	</div>
</body>

</html>