<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>おでかけ記録</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
</head>

<body>
	<header>
		<div class="header-info">
			ようこそ、<span th:text="${username}">ユーザー名</span> さん！　
			<span th:text="${today}">日付</span>
		</div>
	</header>

	<h1>おでかけ記録</h1>

	<form th:action="@{/inputOdekakeNew}" method="post">
		<button type="submit">行きたい場所</button>
	</form>
	<h2 class="subtitle">行きたい場所リスト</h2>

	<div style="overflow-x: auto; padding: 0 10px;">
		<table class="title-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>タイトル</th>
					<th>URL</th>
					<th>訪問</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="info : ${titleList}">
					<td th:text="${info.id}">ID</td>
					<td>
						<a th:href="@{/detailOdekake(id=${info.id}, title=${info.title})}"
							th:text="${info.title}">タイトル</a>
					</td>
					<td><a th:href="${info.url1}" th:text="${info.url1}">URL</a></td>
					<td>
						<span th:if="${info.visited == 'Y'}">行った！</span>
						<span th:unless="${info.visited == 'Y'}">行ってない！</span>
					</td>
					</tr>
			</tbody>
		</table>
	</div>


	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.title-table').DataTable({
				language: {
					url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/ja.json"
				}
			});
		});
	</script>

</body>

</html>